<%= render 'exam_header' %>

<div id='question'>


<img src=<%= @questions %> style='width:45%;' alt="some_text">

<div ='choices'> 
  <%= form_tag(controller: 'questions', action: 'update', method: 'put') do %>
  <input type="radio" name="choices" class="choices" value="<%= @answers.first.choice_url %>">
          <img src=<%= @answers.first.choice_url %>   alt="some_text"><br/>
   
    <input type="radio" name="choices" class="choices" value="<%= @answers.second.choice_url %>">
          <img src=<%= @answers.second.choice_url %>    alt="some_text"> <br/>
  
    <input type="radio" name="choices" class="choices" value="<%= @answers.third.choice_url %>">  
          <img src=<%= @answers.third.choice_url %>   alt="some_text"> <br/>
  
    <input type="radio" name="choices" class="choices" value="@answers.fourth.choice_url %> ">
          <img src=<%= @answers.fourth.choice_url %>   alt="some_text"> <br/>
    
    <input type="radio" name="choices" class="choices" value="<%= @answers.fifth.choice_url %>">  
          <img src=<%= @answers.fifth.choice_url %>   alt="some_text">


           <input type='submit' value='Submit'  onclick="window.location='<%= %>;" >
  <% end %>
</div>
</div> 

<%= render 'footer' %>