<%= render 'exam_header' %>

<div id='question'>


<img src=<%= @questions %> style='width:45%;' alt="some_text">

<div ='choices'> 
  <%= form_tag({controller: 'questions', action: 'update'}, method: 'put', id:'myform') do %>
  <input type="radio" name="choices" class="choices" value="<%= @answers.first.id %>">
          <img src=<%= @answers.first.choice_url %>   alt="some_text"><br/>
   
    <input type="radio" name="choices" class="choices" value="<%= @answers.second.id %>">
          <img src=<%= @answers.second.choice_url %>    alt="some_text"> <br/>
  
    <input type="radio" name="choices" class="choices" value="<%= @answers.third.id %>">  
          <img src=<%= @answers.third.choice_url %>   alt="some_text"> <br/>
  
    <input type="radio" name="choices" class="choices" value="<%= @answers.fourth.id %> ">
          <img src=<%= @answers.fourth.choice_url %>   alt="some_text"> <br/>
    
    <input type="radio" name="choices" class="choices" value="<%= @answers.fifth.id %>">  
          <img src=<%= @answers.fifth.choice_url %>   alt="some_text">

        
  <% end %>
</div>
</div> 

<%= render 'footer' %>