<%= render 'exam_header' %>

<div id='question'>


<img src=<%= @questions %> style='width:45%;' alt="some_text">

<div ='choices'> 
  
  <ul>
    <li> <input type="radio" name="c2" class="choices" value="c1" checked="checked">
      <label for="vsat">
        <img src=<%= @answers.first.choice_url %>   alt="some_text">
     </label>
   </li>
    <li><input type="radio" name="c2" class="choices" value="c2">
        <label for="sat">
          <img src=<%= @answers.second.choice_url %>   alt="some_text"> 
        </label> 
    </li>
    <li><input type="radio" name="c2" class="choices" value="c2">
        <label for="sat">
          <img src=<%= @answers.third.choice_url %>   alt="some_text"> 
        </label> 
    </li>
    <li><input type="radio" name="c2" class="choices" value="c2">
        <label for="sat">
          <img src=<%= @answers.fourth.choice_url %>   alt="some_text"> 
        </label> 
    </li>
      <li><input type="radio" name="c2" class="choices" value="c2">
        <label for="sat">
          <img src=<%= @answers.fifth.choice_url %>   alt="some_text"> 
        </label> 
    </li>
  
  </ul>

</li>
</div>
</div> 

<%= render 'footer' %>