<%= render 'exam_header_timer' %>

<div id='question'>
<img src=<%= @exam_question_url %> style='width:45%;' alt="some_text">

<div id='choices'><br><br>

  <%= form_tag({controller: 'questions', action: 'update'}, method: 'put', id:'myform') do %>

  <input type="radio" name="choices" class="choices" value="<%= @exam_question_choices_url.first.id %>"  <%= "checked='checked'" if @user_answer_choice == @exam_question_choices_url.first.id.to_s %> >
         A.   <img src=<%= @exam_question_choices_url.first.choice_url %>   alt="some_text"><br/>
   
    <input type="radio" name="choices" class="choices" value="<%= @exam_question_choices_url.second.id %>" <%= "checked='checked'" if @user_answer_choice == @exam_question_choices_url.second.id.to_s %>>
         B.   <img src=<%= @exam_question_choices_url.second.choice_url %>    alt="some_text"> <br/>
  
    <input type="radio" name="choices" class="choices" value="<%= @exam_question_choices_url.third.id %>" <%= "checked='checked'" if @user_answer_choice == @exam_question_choices_url.third.id.to_s %>>  
         C.   <img src=<%= @exam_question_choices_url.third.choice_url %>   alt="some_text"> <br/>
  
     <input type="radio" name="choices" class="choices" value="<%= @exam_question_choices_url.fourth.id %>" <%= "checked='checked'" if @user_answer_choice == @exam_question_choices_url.fourth.id.to_s %>>  
         D.   <img src=<%= @exam_question_choices_url.fourth.choice_url %>   alt="some_text"> <br/>
    
    <input type="radio" name="choices" class="choices" value="<%= @exam_question_choices_url.fifth.id %>" <%= "checked='checked'" if @user_answer_choice == @exam_question_choices_url.fifth.id.to_s %>>   
         E.   <img src=<%= @exam_question_choices_url.fifth.choice_url %>   alt="some_text">
   
  <% end %>
</div>

</div> 

<%= render 'footer' %>

<script type='text/javascript'>

  $(document).ready(function() {

    $(document).on('click', '#mark-btn', function () {
        $.ajax({
            type: 'PUT',
            url: '<%= mark_exam_question_path(params[:exam_id], params[:id])%>'
        }).done(function (msg) {

            $("#mark-btn").val("Marked");
            $("#mark-btn").attr("id", 'unmark-btn')
            return false
        });

    });



    $(document).on('click', "#unmark-btn", function (){
        $.ajax({
            type: 'PUT',
            url: '<%= unmark_exam_question_path(params[:exam_id], params[:id])%>'
        }).done(function (msg) {

            $("#unmark-btn").val("Mark");
            $("#unmark-btn").attr("id", 'mark-btn');
            return false
        });
    });

  
 
   });


 </script>



