<%= render 'exam_header_timer' %>

<div id='question'>
<img src=<%= @exam_question %> style='width:45%;' alt="some_text">

<div ='choices'> 

  <%= form_tag({controller: 'questions', action: 'update'}, method: 'put', id:'myform') do %>

  <input type="radio" name="choices" class="choices" value="<%= @multiple_choices.first.id %>"  <%= "checked='checked'" if Exam.find(params[:exam_id]).user_answer[params[:id].to_i - 1] == @multiple_choices.first.id.to_s %> >
         A.   <img src=<%= @multiple_choices.first.choice_url %>   alt="some_text"><br/>
   
    <input type="radio" name="choices" class="choices" value="<%= @multiple_choices.second.id %>" <%= "checked='checked'" if Exam.find(params[:exam_id]).user_answer[params[:id].to_i - 1] == @multiple_choices.second.id.to_s %>>
         B.   <img src=<%= @multiple_choices.second.choice_url %>    alt="some_text"> <br/>
  
    <input type="radio" name="choices" class="choices" value="<%= @multiple_choices.third.id %>" <%= "checked='checked'" if Exam.find(params[:exam_id]).user_answer[params[:id].to_i - 1] == @multiple_choices.third.id.to_s %>>  
         C.   <img src=<%= @multiple_choices.third.choice_url %>   alt="some_text"> <br/>
  
     <input type="radio" name="choices" class="choices" value="<%= @multiple_choices.fourth.id %>" <%= "checked='checked'" if Exam.find(params[:exam_id]).user_answer[params[:id].to_i - 1] == @multiple_choices.fourth.id.to_s %>>  
         D.   <img src=<%= @multiple_choices.fourth.choice_url %>   alt="some_text"> <br/>
    
    <input type="radio" name="choices" class="choices" value="<%= @multiple_choices.fifth.id %>" <%= "checked='checked'" if Exam.find(params[:exam_id]).user_answer[params[:id].to_i - 1] == @multiple_choices.fifth.id.to_s %>>   
         E.   <img src=<%= @multiple_choices.fifth.choice_url %>   alt="some_text">
   
  <% end %>
</div>

</div> 

<%= render 'footer' %>



<script type='text/javascript'>

  $(document).ready(function() {
  function toggleMark(val, idval) {
      console.log(idval);
      var $dirbtn = $('.nate');
      
      if ($dirbtn.val() != val) {
        console.log("true");
        $dirbtn.val(val);
        $("#mark-btn").attr("id", idval);

      }
    }   
    $('#mark-btn').click(function(){
      $.ajax({
        type: 'PUT',
        url:'<%= mark_exam_question_path(params[:exam_id], params[:id])%>'
      }).done(function(msg){
          //Change text of button to unmark          
          var self = 'unmark-btn';

          toggleMark("Marked", self);
          console.log("called with markbtn");
          // $("#mark-btn").val("Marked");
          // Change id to unmark
        });



    $("#unmark-btn").click(function(){
      console.log("unmakr called");
      $.ajax({
        type: 'PUT',
        url:'<%= unmark_exam_question_path(params[:exam_id], params[:id])%>'
      }).done(function(msg){
        console.log("unmark clicked");
          var self = 'mark-btn';

          toggleMark("Mark", self);
         console.log("called with unmarkbtn");
            
        });
      });
  });
   

   });


 </script>



