
<%= render 'layouts/header' %>

	<div id="profile_picture">
  	<%= gravatar_for @user %>
    <h1> <%= @user.name %></h1>
  </div><br>
 	
	<div class="box-module-content">
		<%= button_to 'Start', exams_path, class: "btn-primary btn-large no-dblclick" %>
		
	</div><br><br><br><br>
	
	<ul>	

		<% @exams.each do |exam| %>
		<div class="banner<%=exam.id%>">
		<li>
			<%= button_to 'Exam ', exam_path( exam.id), :method => "get", :class => "#{exam.id}" %> <%= link_to 'Delete', exam_path(exam.id),:remote =>'true', method: 'delete', data: { confirm: 'Are you sure?' }, :class => "#{exam.id}" %>

		<li>
		</div><br><br>

		<script type="text/javascript">

			$(document).ready(function() {
				$('.<%=exam.id%>').click(function(){
					
					  $('.<%=exam.id%>').remove();
					  $('.<%=exam.id%>').remove();
					   $('.<%=exam.id%>').remove();
					  
				});
			});


  		</script>
			<% end  %>
	<ul>

		






