
<%= render 'layouts/header' %>

	<div id="profile_picture">
  	<%= gravatar_for @user %>
    <h1> <%= @user.name %></h1>
  </div><br>
 	
	<div class="box-module-content">
		<%= button_to 'Start', exams_path, class: "btn-primary btn-large no-dblclick" %>
		
	</div><br><br><br><br>
	
	<ul>		
		<% @exams.each do |exam| %>
		<div id="banner">
		<li>
			<%= button_to 'Exam ', exam_path( exam.id), :method => "get", :id=>'banner' %>
		<li>
		</div><br><br>
			<% end  %>
	<ul>

		
	