
<%= render 'layouts/header' %>

	<div id="profile_picture">
  	<%= gravatar_for @user %>
    <h1> <%= @user.name %></h1>
  </div><br>
 	
	<div class="box-module-content">
		<%= button_to 'Start', exams_path, class: "btn-primary btn-large no-dblclick" %>
		
	</div><br><br><br><br>
	
	<ul>		
		<% @exams.each do |exam| %>

		<li class="banner">
			<%= exam.start_time.strftime("%a %b %e %Y %T") %>
			<%= button_to 'Exam ', exam_path( exam.id), :method => "get", :class =>'banner' %> 
			<%= link_to 'Delete', exam_path(exam.id), method: 'delete', data: { confirm: 'Are you sure?' }%>
		<li>
	 <br><br><br><br>
		<% end  %>
	<ul>

		
	





