
<%= render 'layouts/header' %>

<div class='main-container'

<div class='side-bar'>
	<div class="circle">
  		<%= gravatar_for @user %>
  	</div>
    	<h1> <%= @user.name %></h1>
  
		<%= button_to 'Start new exam', exams_path, class: "btn-primary btn-large no-dblclick" %>
</div>
</div>
	
	<ul>		
		<% @exams.each do |exam| %>

		<li class="banner">
			<%= button_to 'Exam ', exam_path( exam.id), :method => "get", :class =>'btn-primary btn-large no-dblclick' %>
			<span id="start-time"><%= exam.start_time.strftime("%a %b %e %Y %T") %></span>
		<li>
			<%= link_to 'Delete', exam_path(exam.id), method: 'delete', data: { confirm: 'Are you sure?' }%>
	 <br><br><br><br>
		<% end  %>
	<ul>

		






