<%= render 'complete_exam_header' %>

<table cellspacing='0' style='margin-top: 100px' style='margin:auto'> <!-- cellspacing='0' is important, must stay -->

<!-- Table Header -->
<thead>
	<tr>
		<th>Questions</th>
		<th>Marked</th>
		<th>Your response</th>
		<th>Corrent response</th>
		<th>Correct/Incorrect</th>
	</tr>
</thead>
	
	<!-- Table Body -->
	<tbody>
		<% i = 1 %>
		<% while (i < @questions.length + 1) %>
				<tr class="even">
					<td>
						<%=link_to "Question #{i}", exam_question_path(params[:id], i ) %>
					</td>
					<td> 
						<%=  @marked[i - 1] == 'Yes' ? 'Yes' : '' %>
					</td>		
					<td>
						<% if @user_answers[i-1].empty? %>
							<p>incomplete</p>
						<% else %>
							<img src=<%= @test_bank_questions[i -1].answer_choices.find(@user_answers[i - 1]).choice_url%> alt="some_text">
						<% end %>
					</td>
					<td>
						<% @test_bank_questions[ i -1].answer_choices.each do |choice| %>
							<% if choice.correct_choice == true %>
								<img src=<%= choice.choice_url %> alt= 'some_text'>
							<% end %>
						<% end %>				
					</td>
					<td>
						<% if @user_answers[i-1].empty?%>
							<h5> Wrong </h5>	
						<% elsif @test_bank_questions[i - 1].answer_choices.find(@user_answers[i -1]).correct_choice == true %>
							<h5> Correct </h5>
						<% else %>
							<h5> Wrong </h5>
						<% end %>
					</td>
				</tr>
			<% i += 1 %>
		<% end %>	
	</tbody>
</table>

<%= button_to 'Exit Exam', user_path(current_user.id), :method => "get", :id => 'next-btn', :class => 'direction-btn', :style =>'margin-left: 400px' %>

