

<header>
  <div class="container">
   
    <nav>
      <div id='question-number-timer'>
      <p>CBT Exam 1 </p>
     
      </div>
    </nav>
  </div>
</header>


<table cellspacing='0' style='margin-top: 100px' style='margin:auto'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Questions</th>
			<th>Marked</th>
			<th>Your response</th>
			<th>Corrent response</th>
			<th>Correct/Incorrect</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<%i = 1 %>
		<% while (i < @questions.length + 1) %>
			<% if (i % 2) == 0 %>
		<tr>
			<td>
				<%=link_to "Question #{i}", exam_question_path(params[:id], i ) %>
			</td>
			<td> 
				<%= @marked[i - 1] %>
			</td>
				
			<td>
							
				<% answer = Exam.find(params[:id]).user_answer %>
				<img src=<%= Exam.find(params[:id]).test_bank_questions[i -1].answer_choices.find(answer[i - 1]).choice_url%> alt="some_text">
			</td>
			<td>
				<% Exam.find(params[:id]).test_bank_questions[ i -1].answer_choices.each do |choice| 
						if choice.correct_choice == true %>
							<img src=<%= choice.choice_url %> alt= 'some_text'>
						<% end %>
					<% end %>
					
			</td>

			<td>
				<% if Exam.find(params[:id]).test_bank_questions[i - 1].answer_choices.find(answer[i -1]).correct_choice == true %>
				
				<p> Correct </p>
				
				<% else%>
					<p> Wrong </p>
					<%end %>
			</td>
			
			<% else %>
		<tr class="even">
			<td>
				<%=link_to "Question #{i}", exam_question_path(params[:id], i ) %>
			</td>
			<td>
				<%= @marked[i - 1] %>
			</td>
			
			<td>
				
					<%answer = Exam.find(params[:id]).user_answer %>
				<img src=<%= Exam.find(params[:id]).test_bank_questions[i - 1].answer_choices.find(answer[i -1]).choice_url%> alt="some_text">
				
			</td>
			<td>
				<% Exam.find(params[:id]).test_bank_questions[ i -1].answer_choices.each do |choice| 
						if choice.correct_choice == true %>
							<img src=<%= choice.choice_url %> alt= 'some_text'>
					<% end %>
					<% end %>
			</td>
			<td>
				<% if Exam.find(params[:id]).test_bank_questions[i - 1].answer_choices.find(answer[i -1]).correct_choice == true %>
				<p> Correct </p>
				<% else%>
					<p> Wrong </p>
					<%end %>
			</td>
					
		</tr>
			<%end %>
			<% i += 1%>
		<% end %>

			
		</tr><!-- Table Row -->


	</tbody>
	<!-- Table Body -->

</table>




<input class='direction-btn' id='next-btn'  type='submit' name='submit' value='Exit Exam' onclick="window.location= '<%=exams_path %>';" style='margin-left: 400px' form='mark-form' >